 html, body { margin: -1px;
 			padding: 0px;
 			border: 1px solid #222222;
 			font-family: helvetica;
  }
header{width: 100%
		height 400px;
		position: relative;
	}
nav{position: absolute;
	 float: left;
	z-index: 2;
	word-spacing: 15px;
	margin-top: 20px;
	margin-left: 990px;
	}
a{color: white;
text-decoration: none;
}
article{position: absolute;
		border-top-color: black;
		}
footer{position: absolute;
		margin: 35px;
		}
h3{color: #1A73E8}
.green-btn{
    width: 118px;
    height: auto;
    margin-top: 300px;
    margin-left: 700px;
    line-height: 35px;
    text-align: center;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    background: #093;
    border-radius: 5px;
    position: absolute;
    z-index: 2
	}
.blue-btn{
    width: 135px;
    height: auto;
    margin-top: 300px;
    margin-left: 550px;
    line-height: 35px;
    text-align: center;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    background: #1A73E8;
    border-radius: 5px;
    position: absolute;
    z-index: 2	}	
.parque{position: absolute;
		}
.texto{ position: absolute;
	    text-align: center;
	    color: white;
	    line-height: 12px;
	    font-family: helvetica;
	    word-spacing: 12px;
	    font-size: 37px;
	    margin-left: 326px;
	    margin-top: 76px;
		padding: 50px;
	 	z-index: 2
		}
.logosuperior{
			margin: -10px;
			margin-left: 150px;
			padding: 50px;
			position: absolute;
	        z-index: 1
 			}
.texto2{position: absolute;
	    text-align: center;
	    color: white;
	    font-size: 15px;
	    line-height: 5px;
	    margin-left: 350px;
	    margin-top: 340px;
	  	z-index: 2
	  }
.texto3{width: 800px;
		height: auto;
	    text-align: center;
		font-size: 15px;
	    line-height: 5px;
	    margin-top: 300px;
	    margin-left: 50px;
	  	padding: 200px;
		}
.gente{margin-top: -200px;
		margin-left:480px;
		padding-top: 3px;
	}
.blue-btn2{width: 135px;
    	height: auto;
    	margin-top: -190px;
   		margin-left: 610px;
    	line-height: 35px;
    	text-align: center;
    	font-family: roboto,sans-serif;
    	font-weight: 600;
    	font-size: 16px;
    	color: #fff;
    	display: inline-block;
    	background: #1A73E8;
    	border-radius: 5px;
    	position: absolute;
   		}
.texto4{width: 800px;
		height: auto;
	    text-align: center;
		font-size: 15px;
	    line-height: 5px;
	    margin-top: -150px;
	    margin-left: 80px;
	  	padding: 200px;
		}
.margen{position: absolute;
		width: 1366px;
		height: 310px;
		background: #F5F3F3;
		border: 1px solid #C3C3C3;
		margin-top: -5px;
		}
.frase{margin-top: -355px 
		}
.texto5{padding: -35px;
	  	margin-left: 575px;
		margin-top: 1290px;
	 	line-height: 5px;
	 	color: black;
		}
.texto6{padding: 20px;
		margin-top: -108px;
	  	margin-left: 205px;
	  	line-height: 5px;
		color: black;
		}
.color{background-color: #222222;
		border: 1px solid #222222;
        position: absolute;
      	margin: -1px;
		width: 1369px;
		height: 85px;
		margin-top: 1550px;
		}
.color p{color: #C3C3C3;
	text-align: center;
	padding-right: 640px;
	padding-top: 20px;
	font-family: helvetica;
	}